/*#fa1de3*/

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  font-family: Arial, Helvetica, sans-serif;
}

.ndev-navbar {
  background-color: rgb(0, 0, 0, 0.55);
  box-shadow: 1px 1px 3px rgb(255, 255, 255, 0.55);
  z-index: 99;
}

.ndev-navbar .nav-link {
  border-bottom: 1px solid transparent;
  transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}

.ndev-navbar .nav-link:hover {
  padding-bottom: 20px;
  border-bottom-color: var(--bs-teal);
}

.banner {
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("../img/bg.jpg") center center fixed no-repeat;
  background-size: cover;
  color: white;
  padding-top: 10rem;
}

.banner .banner-desc {
  font-size: 40px;
  font-weight: 400;
}

.btn-order {
  color: #fa1de3 /*var(--bs-teal)*/;
  border-color: #fa1de3/*var(--bs-teal)*/;
  transition: 0.5s;
}

.btn-order:hover,
.btn-order:active {
  background-color: #fa1de3;
  color: white;
}

.ndev-menu,
.order-form {
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("../img/bg01.jpg") center center fixed no-repeat;
  background-size: cover;
  height: 500px;
}

.order-form {
  height: 300px;
}

/* .ndev-menu h3{
    color: #f5aa20;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 4px 1px 2px white;
} */

.ndev-form {
  max-height: 300px;
  min-height: 300px;
}

.ndev-infos{
    background-color: rgb(46, 46, 46);
}